.footer {
  border: 2px solid lightgray;
  height: 120px;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.footer__col1 {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.footer__col1 > p {
  color: white;
  
}

.footer__parent{

}



.footer__parent:hover{
  color: rgb(76, 76, 235);
  font-weight: bold;
  cursor: pointer;
}
