.imageupload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 24px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  
  background-color: white;
  border-top: 1px solid lightgray;
}

.imageupload__progress{
    width: 100%;
}